*{
    margin: 0;
    box-sizing: border-box;
    font-size: 50px;
    font-family: ‘Rubik Mono One’, sans-serif;
  }
  

  nav ul{
    position: fixed;
    top: 25px;
    right: 25px;
    z-index: 999;
}

nav li{
    background-color: white;
    width: 100px;
    height: 100px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    
}

li a{
    color: black;
    vertical-align: middle;
    text-decoration: none;
}


  .differente{
    background-color: red;
    background-size: cover;
    position: relative;
    height: 100vh;
  }
  
  .tommy{
    background-color: green;
    background-size: cover;
    position: relative;
    height: 100vh;
  }
  
  .converse{
    background-color: yellow;
    background-size: cover;
    position: relative;
    height: 100vh;
    color: green;
  }

  
  
  .descrizione{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 10px;
    text-align: center;
  }

  .text{
      color: yellow;
  }

  #particolare{
      color: green;
  }